<?xml version="1.0" encoding="utf-8"?>
<manifest package="group.pals.android.lib.ui.lockpattern"
          xmlns:tools="http://schemas.android.com/tools"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="17"
          android:versionName="2.3">

    <application tools:replace="icon, label, theme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/alp_app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="LockPatternActivity"
            android:label="@layout/alp_lock_pattern_activity"/>
    </application>

</manifest>